.login-section {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    min-height: 100vh;
}

.login {
    width: 100%;
    max-width: 600px;
}

.login h1 {
    font-size: 46px;
    color: var(--verde-1);
    margin-bottom: 4px;
    text-align: center;
}

.login p {
    font-size: 13px;
    color: #6e6e6e;
    text-align: center;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.login form label {
    display: flex;
    max-width: 350px;
    width: 100%;
}

.login form label input {
    flex: 1;
    border-radius: 0px 4px 4px 0px;
    outline: none;
    height: 50px;
    font-size: 14px;
    border: 1px solid var(--verde-2);
    padding: 8px 8px 8px 14px;
}

.login form label i {
    width: 50px;
    padding: 15px 0px;
    font-size: 18px;
    background: var(--verde-2);
    color: var(--verde-1);
    text-align: center;
    border-radius: 4px 0px 0px 4px;
}

.login-button,
.create-account-button {
    max-width: 350px;
    width: 100%;
    background: var(--verde-1);
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 10px 4px;
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

.login-button:hover,
.create-account-button:hover {
    background: #fff;
    border: 2px solid var(--verde-1);
    color: var(--verde-1);
}

.login .sem-conta {
    margin-top: 40px;
    text-align: center;
    font-size: 13px;
}

.login .sem-conta span {
    color: var(--roxo-1);
    font-weight: bolder;
}

#error-message {
    max-width: 350px;
    width: 100%;
    background: rgba(255, 0, 0, 0.184);
    font-size: 12px;
    padding: 4px 12px;
    color: #ff0000d0;
    border-radius: 2px;
    border: 1px solid #ff000010;
}

.create-account {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #04d404;
    background: linear-gradient(180deg, #04d404 0%, #0a550a 100%);
    width: 100vw;
    height: 100vh;
}

.create-account-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 22px 0px #00000029;
    background: #fff;
    width: 90%;
    max-width: 500px;
    padding: 30px 10px;
    border-radius: 20px 0 20px 0;
}

.create-account-section h1 {
    color: var(--verde-1);
    font-size: 32px;
}

.create-account-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 85%;
    margin-top: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--verde-2);

}

.create-account-section p {
    font-size: 14px;
    text-align: center;
    color: #838383;
    margin-bottom: 25px;
}

.create-account-section p strong {
    color: var(--verde-1);
}

.create-account-section h2 {
    color: var(--verde-1);
    font-weight: normal;
    align-self: flex-start;
    font-size: 12px;
    border-top: 1px solid var(--verde-2);
    width: 100%;
    padding-top: 20px;
}

.create-account-section form label {
    display: flex;
    width: 100%;
}

.create-account-section form label input {
    flex: 1;
    border-radius: 0px 4px 4px 0px;
    outline: none;
    height: 44px;
    font-size: 12px;
    border: 1px solid var(--verde-2);
    padding: 4px 4px 4px 8px;
    color: #393939;
    letter-spacing: 0.3px;
}

.create-account-section form label i {
    width: 45px;
    padding: 15px 0px;
    font-size: 14px;
    background: var(--verde-2);
    color: var(--verde-1);
    text-align: center;
    border-radius: 4px 0px 0px 4px;
}

.create-account-section .msg-error {
    color: red;
    align-self: self-start;
    font-size: 12px;
    background: #ff00001e;
    padding: 4px;
    border-radius: 2px;
}

/* responsividade */
@media (max-width: 480px) {
    .create-account {
        background: #fff;
    }

    .create-account-section {
        box-shadow: none;
    }
}

@media (max-width: 420px) {
    .login h1 {
        font-size: 36px;
    }

    .login form label {
        display: flex;
        max-width: 300px;
        width: 90%;
    }

    .login form label input {
        height: 40px;
    }

    .login form label i {
        height: 40px;
        padding: 10px;
    }

    .login-button {
        max-width: 300px;
        width: 90%;
    }

    #error-message {
        width: max-content;
    }
}