.painel {
    min-height: 100vh;
    position: relative;
}

.header-painel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cinza-1);
    min-height: 70px;
    padding: 10px;

}

.header-painel>div {
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.header-painel .back {
    color: var(--roxo-1);
    font-size: 20px;
    cursor: pointer;
}

.header-painel>div div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
}

.header-painel .welcome-message {
    font-size: 20px;
    color: #fff;
    line-height: 16px;
}

.header-painel .welcome-message strong {
    color: var(--verde-1);
    text-transform: capitalize;
}

.header-painel .welcome-message span {
    font-size: 14px;
    color: #c1c1c1;
}

.header-painel .button-cadastrar-produto {
    background: var(--verde-1);
    padding: 6px 12px;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
}

.product-created {
    opacity: 0;
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: .3s;
}

.product-created div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-created i {
    color: var(--verde-1);
    margin-right: 10px;
}

.product-created span {
    font-size: 14px;
}

@keyframes showAndHide {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.show-temp {
    animation: showAndHide 2s ease-in-out forwards;
}
