* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --cinza-1: #282828;
    --cinza-2: #3e3e3e;
    --cinza-3: #1b1b1b;
    --verde-1: #04d404;
    --verde-2: #cff9cf;
    --roxo-1: #ce17ce;
    --roxo-2: #ce17ce26;
    --roxo-3: #facffa;
}